<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Today's Match | T20 Predict</title>
 
 
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/css/flags.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/logout">Logout</a>
                    </li>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">T20 Predict</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Predict the Winner</h1>
            <p class="lead"></p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>{{ team1[1] }}</h4>
                <span class="tLogo tLogoXL {{ team1[2] }} flag"></span>
                
            </div>
 
            <div class="col-lg-6" style="text-align: right">
                <h4>{{ team2[1] }}</h4>
                <span class="tLogo tLogoXL {{ team2[2] }}-alt flag"></span>
            </p>
            </div>
        </div>

        <div class="row">
            <div>
                {% if error %}
                <p class="bg-danger" id="error">{{ error }}</p>
                {% endif %}
                {% if success %}
                <p class="bg-success" id="success">{{ success }}</p>
                {% endif %}
            </div>
            {% if alreadyPredicted %}
            <div>
                <h2>You have already predicted, All the best</h2>
            </div>
            {% else %}
            <form action="/submitPrediction" method="POST">
                <div class="form-group">
                    <label for="winningToss">Who will win the toss?</label>
                    <select required="required" class="form-control" name="winningToss" id="winningToss">
                        <option value="">Select Team</option>
                        <option value="{{ team1[0] }}">{{ team1[1] }}</option>
                        <option value="{{ team2[0] }}">{{ team2[1] }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="winningTeam">Who will win the match?</label>
                    <select required="required" class="form-control" name="winningTeam" id="winningTeam">
                        <option value="">Select Team</option>
                        <option value="{{ team1[0] }}">{{ team1[1] }}</option>
                        <option value="{{ team2[0] }}">{{ team2[1] }}</option>
                    </select>
                </div>
                <input type="hidden" name="matchid" value="{{ match[0] }}">
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            {% endif %}
        </div>
 
        <footer class="footer">
            <p>Mobile BI Team</p>
        </footer>
 
    </div>
</body>
 
</html>